{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    Admin Page
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-title">
            <div id="page-title-inner">
                <h2>Admin Page</h2>
            </div>
        </div>

        <h3>Hello!</h3>
        If you reached this page your an admin =)
    </div>
{% endblock %}