{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    {% trans %}writeup.singular{% endtrans %}
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-title">
            <div id="page-title-inner">
                <h2>{% trans %}writeup.singular{% endtrans %}</h2>
            </div>
        </div>

        <div id="autosave_holder" class="pull-right form-inline">
            <label class="checkbox">
                <input type="checkbox" id="writeup_autosave" />
                {% trans %}writeup.autosave{% endtrans %}
            </label>
        </div>

        <span id="event_id" style="display: none;">{{ meetup.id }}</span>

        <form id="writeup_form" class="form-horizontal no-bottom" method="post" action="">
            {% form_theme form 'SWPFrontendBundle:Form:bootstrap.html.twig' %}
            {{ form_widget(form) }}

            <div class="control-group">
                <label class="required control-label" for="event_writeup_content">
                    {% trans %}writeup.preview{% endtrans %}
                </label>
                <div id="writeup_preview" class="controls">{{ preview | raw }}</div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    {% trans %}global.save{% endtrans %}
                </button>
                <a href="{{ path('event.list') }}" class="btn">{% trans %}global.cancel{% endtrans %}</a>
            </div>
        </form>
    </div>
{% endblock %}