parameters:
    database_driver:   pdo_mysql
    database_host:     192.168.30.48
    database_port:     3306
    database_socket:   ~
    database_name:     sweetlakephp
    database_user:     sweetlakephp
    database_password: secret

    mailer_transport:        smtp
    mailer_host:             127.0.0.1
    mailer_user:             ~
    mailer_password:         ~
    # mailer_delivery_address: YOUR@EMAIL-ADDRESS.HERE

    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt

    contact_email:     email@domain.com
    contact_receivers: "email1@domain.com"

    meetup_api_key: ADD_YOUR_MEETUP_API_KEY_HERE
    meetup_group_urlname: SweetlakePHP

    twitter_consumer_key:    ~
    twitter_consumer_secret: ~
    twitter_oauth_token:     ~
    twitter_oauth_secret:    ~

    github_username:   verschoof
    github_repository: SweetLakePHP
