parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_socket:   ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:        smtp
    mailer_host:             127.0.0.1
    mailer_user:             ~
    mailer_password:         ~
    # mailer_delivery_address: email@domain.com

    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt

    contact_email:     email@domain.com
    contact_receivers: "email1@domain.com, email2@domain.com"

    meetup_api_key:       key
    meetup_group_urlname: SweetlakePHP

    twitter_consumer_key:    ~
    twitter_consumer_secret: ~
    twitter_oauth_token:     ~
    twitter_oauth_secret:    ~

    github_username:   verschoof
    github_repository: SweetLakePHP
