{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    Meetups
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-title">
            <div id="page-title-inner">
                <h2>Meetups</h2>
            </div>
        </div>

        <div class="news">
            <h3>Upcomming</h3>
            {% for event in upcomming %}
                {% include 'SWPFrontendBundle:Meetup:p-small.html.twig' with {'meetup': event} %}
            {% endfor %}

            <h3>Past</h3>
            {% for event in past %}
                {% include 'SWPFrontendBundle:Meetup:p-small.html.twig' with {'meetup': event} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}