{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    About us
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-title">
            <div id="page-title-inner">
                <h2>SweetLake PHP!</h2>
            </div>
        </div>

        <h3>All things PHP in Den Haag and Zoetermeer</h3>
        This is a group for anyone interested in all Web development in general, but PHP in particular, of any skill level or ability.<br>
        The goal is to create an environment where knowledge, ideas and enthusiasm can be spread freely.<br>
        <br>
        We aim to have casual meetups as well as formal sessions with speakers on a regular basis - alternating between Den Haag and Zoetermeer.<br>
    </div>
{% endblock %}