{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    About us
{% endblock %}

{% block content %}
    <h1>SweetLake PHP!</h1>
    <br>

    <h3>What is SweetLake PHP?</h3>
    <p>SweetLakePHP is a open community to PHP developers around <strong>Den Haag</strong> and <strong>Zoetermeer</strong>. We will setup <a href="#">meetups</a> for you and <a href="#">Drinks and Geeks to chat with other developers.</a></p>
    <br>

    <h3>What is a meetup?</h3>
    <p>Meetups are.....</p>
    <br>

    <h3>etc..</h3>
{% endblock %}