{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <div id="contact">
        <h1>Contact us</h1>

        <br>
        <p>If you have some questions/comments or suggets you can fill the next contact form</p>
        <br>

        {% form_theme contactForm 'SWPFrontendBundle:Form:bootstrap.html.twig' %}
        {{ form_start(contactForm, {'method': 'POST', 'action': path('contact'), 'attr': { 'class': 'form-horizontal'}}) }}
        {{ form_errors(contactForm) }}

        {{ form_rest(contactForm) }}

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{% trans %}contact.send{% endtrans %}" />
        </div>

        {{ form_end(contactForm) }}
    </div>
{% endblock %}