{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-title">
            <div id="page-title-inner">
                <h2>Contact us</h2>
            </div>
        </div>

        <div id="contact">
            <p>If you have some questions/comments or suggestions, you can fill in the form below.</p>
            <br>

            {% form_theme contactForm 'SWPFrontendBundle:Form:bootstrap.html.twig' %}
            {{ form_start(contactForm, {'method': 'POST', 'action': path('contact'), 'attr': { 'class': 'form-horizontal no-bottom'}}) }}
            {{ form_errors(contactForm) }}

            {{ form_rest(contactForm) }}

            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="{% trans %}contact.send{% endtrans %}" />
            </div>

            {{ form_end(contactForm) }}
        </div>
    </div>
{% endblock %}
