{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-title">
            <div id="page-title-inner">
                <h2>Welcome on SweetLake PHP!</h2>
            </div>
        </div>

        <div class="news">
            {% for event in events %}
                {% include 'SWPFrontendBundle:Meetup:p-small.html.twig' with {'meetup': event} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
