{% extends 'SWPFrontendBundle::layout.html.twig' %}

{% block title %}
    {% trans %}sponsor.plural{% endtrans %}
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-title">
            <div id="page-title-inner">
                <h2>{% trans %}sponsor.page{% endtrans %}</h2>
            </div>
        </div>

        <div id="head-sponsors">
            <h1>{% trans %}sponsor.main{% endtrans %}</h1>
            <br>

            <!-- transip  -->
            <img id="transip-logo" src="{{ asset('bundles/swpfrontend/img/sponsors/transip.png') }}" /><br>
            <h3>TransIP</h3>
            Website: <a href="https://www.transip.nl" target="_blank">transip.nl</a><br>
            TransIP sponsors SweetLakePHP a <a href="https://www.transip.nl/vps/" target="_blank">BladeVPS x1</a>!<br>
            <br>

            <!-- o'reilly -->
            <img src="{{ asset('bundles/swpfrontend/img/sponsors/oreilly.png') }}" /><br>
            <h3>O'Reilly</h3>
            Website: <a href="http://www.oreilly.com" target="_blank">oreilly.com</a><br>
            O'Reilly sponsors us books for the raffles<br>
            <br>

            <!-- Zend -->
            <img src="{{ asset('bundles/swpfrontend/img/sponsors/zend.png') }}" /><br>
            <h3>Zend</h3>
            Website: <a href="http://www.zend.com" target="_blank">zend.com</a><br>
            Zend sponsors us swag for the raffles<br>
            <br>

            <h1>{% trans %}sponsor.meetups{% endtrans %}</h1>
            <br>
            {% trans %}sponsor.continued{% endtrans %}
        </div>
    </div>
{% endblock %}
