.news .row-fluid {
    position:relative;
}

.news .thumbnail {
    margin-bottom: 15px;
}

.news .image {
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    line-height: 1;
}

.news .title {
    color: #0088CC;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
    margin: 0;
    text-decoration: none;
    text-rendering: optimizelegibility;
}

.news .content {
    margin-top: 5px;
    overflow: hidden;
    max-height: 105px;
}

.news .readmore {
    position: absolute;
    right:    0;
    bottom:   0;
    margin-bottom: 5px;
    margin-right: 7px;
}

#contact #contact_content {
    resize: vertical;
    min-height: 125px;
}

.captcha_image {
    margin-right: 10px;
    cursor: pointer;
}

.news .thumbnail .content {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .upcoming-list {
    list-style-type: none;
    margin: 0px -20px 0px -20px;
}

.sidebar .upcoming-list li {
    border-bottom: 1px solid #CCCCCC;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    font-size: 90%;
}

.sidebar .upcoming-list li:hover {
    background-color: #CCCCCC;
}

.sidebar .upcoming-list .datetime {
    font-size: 80%;
    float: right;
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 0px;
}

.meetup-show .info {
    margin-bottom: 25px;
}

.meetup-show .info td:first-child {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

form.no-bottom {
    margin-bottom: 0px;
}

form.no-bottom .form-actions {
    margin: 0px -20px -20px -20px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.logo img {
    margin-top: -11px;
    width: 125px;
}

ul.twitter-tweets {
    display: block;
    float: left;
    font-size: 12px;
}

ul.twitter-tweets li{
    background: url("../img/icons/twitter.png") no-repeat scroll 0 50% transparent;
    line-height: 18px;
    margin: 2px 0 12px;
    padding-left: 40px;
}

.contributors img {
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #444444;
}

#transip-logo {
    background-color: #FFFFFF;
    padding: 5px;
}

div.sponsors img {
    width: 256px;
    padding: 0 5px 0 5px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
}

form.error {
    color: #B94A48;
}

.center {
    text-align: center;
}

.quick-actions li {
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #F9F9F9 0%, #EDEDED 100%);
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0;
}

.quick-actions li:hover {
    background-image: -moz-linear-gradient(center top, #EDEDED 0%, #F9F9F9 100%);
}

.quick-actions li a {
    color: #666666;
    display: block;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    padding: 20px 30px;
    text-decoration: none;
}
.quick-actions li a i {
    font-size: 3em;
}

.manage-events {
    margin-bottom: 5px;
}
.manage-events .title {
    font-size: 1.5em;
    border: 0px;
    margin: 7px 0 0 15px;
    float: left;
}
.manage-events .btn-overlay{
    margin: 0 0 0 5px;
    border: 0px;
    padding: 2px;
}

#autosave_holder {
    -webkit-transition: background-color 3s;
    -moz-transition: background-color 3s;
    -o-transition: background-color 3s;
    -ms-transition: background-color 3s;
    transition: background-color 3s;
}

#writeup_preview {
    border: 1px #cccccc solid;
    padding: 10px;
}

#writeup_send_button {
    margin-top: 6px;
}

i.fa-slack {
    -ms-transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
}